# Virtual environments
.venv/
env/
__pycache__/

# Data files (especially large raw dumps)
*.csv
*.json

# Generated charts / HTML plots
*.html
*.png
learning_log.md 
weather_data/
*.zip
pcc_3e-main/
*.xhtml